.paginationWrapper {
  margin: 16px 0;
}
.paginationItem {
  color: #000;
  font-size: 16px;
  padding: 8px 16px;
  margin: 1px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgb(247, 241, 210);
}
a.paginationItem {
  text-decoration: none;
}
.paginationItem:hover {
  background-color: rgb(245, 181, 181);
}
.active {
  background-color: rgb(178, 198, 252);
}
