.container {
  max-width: 1400px;
  padding: 16px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.inputPosts {
  box-sizing: content-box;
  padding: 6px;
  width: 180px;
  margin: 16px 0;
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  border-radius: 6px;
}
